body {
  background: linear-gradient(270deg, #c9d6ff, #e2e2e2);

  -webkit-animation: buttonAnimation 20s ease infinite;
  animation: buttonAnimation 20s ease infinite;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5em;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin: 10px 0px;
}

.bio {
  text-align: center;
  color: black;
  font-weight: 200;
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
}

.form-text {
  border-radius: 5px;
  margin: 10px 0px 20px 0px;
}

.waveButton {
  cursor: pointer;
  padding: 8px;
  border: 0;
  border-radius: 5px;

  background: linear-gradient(270deg, #a770ef, #cf8bf3, #fdb99b);
  background-size: 600% 600%;

  -webkit-animation: buttonAnimation 3s ease infinite;
  animation: buttonAnimation 3s ease infinite;
}

button[disabled] {
  cursor: not-allowed;
  padding: 8px;
  border: 0;
  border-radius: 5px;

  background: linear-gradient(270deg, #e9e9e9, #c3c3c3, #919191);
  background-size: 600% 600%;

  -webkit-animation: buttonAnimation 19s ease infinite;
  animation: buttonAnimation 19s ease infinite;
}

.connectWallet {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;

  background: linear-gradient(270deg, #a770ef, #cf8bf3, #fdb99b);
  background-size: 600% 600%;

  -webkit-animation: buttonAnimation 3s ease infinite;
  animation: buttonAnimation 3s ease infinite;
}

.waveMessageCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;

  padding: 1.5em;
  margin: 10px 0px;
  border-radius: 10px;
}

@-webkit-keyframes buttonAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes buttonAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
